
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(cal.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.calculator{
    border:1px solid #0f951a;
    padding: 20px;
    border-radius: 16px;
    background: linear-gradient(45deg,#000000,#039262);;
    box-shadow: 0px 3px 15px rgba(253, 254, 255, 0.5);
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background:#444747;
    box-shadow: 1px 6px 15px rgbs(84, 84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

input::placeholder{
 color: rgb(246, 246, 246);
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 30%;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 20px;
    box-shadow: -10px -8px 10px rgba(255, 225, 225, 0.1);
    cursor: pointer;

}

.equal8tn{
    background-color: #ffa500;
}

.oparator{
    color: #e3c713;
   
}



